.pageAdherents{
margin-left: 150px;
width: 900px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  height: auto;
}
.emp{
  width:auto;
}
.input-group.md-form.form-sm.form-1 input {
  border: 1px solid #bdbdbd;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  width:20%;
}
.search{
  margin-left: 60%;
}
.h1{
  margin-top: 3%;
}