.refuser{
    background-color: #d93749;
    border-radius: 8px;
    border:none;
    margin-left: 10px;
    margin-bottom: 5px;
    
    }
    .accepter{
      background-color: #30a54a;
      border-radius: 8px;
      border:none;
      width: auto;
      margin-left: 10px;
      margin-bottom: 5px;
      }